doctype html
html
    head
        meta(charset="utf8")
        title TEST
        link(rel='stylesheet', href='../css/eventPage.css')
    body
        a(href='/main')
            h1.logo Sanriko`s bets
        form(method="post" class="newBet")
            div.betHead
                label
                    span Исход
                    input(type="list" class="result" name="result" list="result" maxlength="1" required)
                    datalist#result
                        option 1
                        option 2
                label
                    span Ставка
                    input(type="text" class="bet" name="sum" maxlength="30" required)
            label
                span Игрок
                input(type="text" name="player" maxlength="30" required)
            input(type="submit" value="Добавить")
        each item in renderPage
            div(class="event")
                div.title
                    span.id= '#' + item.id
                    h3= item.event
                div.condition
                    - var sum = item.total1 + item.total2
                    div.result1
                        h4= item.result1
                        p Исход 1
                        p= '×' + ((sum / item.total1) / 100 * 97.5).toFixed(2)
                    div.ratio
                        - var win1 = ( Math.round(item.total1 / sum * 100) )
                        - var win2 = ( Math.round(item.total2 / sum * 100) )
                        p= win1 + '%' + ' × ' + win2 + '%'
                        p= 'Всего монет поставленно ' + (item.total1 + item.total2)
                        p.deadLine= 'Прием ставок до: ' + item.until
                    div.result2
                        h4= item.result2
                        p Исход 2
                        p= '×' + ((sum / item.total2) / 100 * 97.5).toFixed(2)
        div.topBets
            h3 TOP 5 BETS
            each item in betList
                ul
                    li= item.player + ' ' + item.bet + ' монет'
