doctype html
html
    head
        meta(charset="utf8")
        title Главная страница
        link(rel='stylesheet', href='../css/main.css')
        link(rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico")
        link(href="https://fonts.googleapis.com/css?family=Girassol|Roboto+Slab&display=swap" rel="stylesheet")
    body
        header
            h1.logo Sanriko`s Bets
            if auth
                .userInfo
                    .user
                        p.username= user.username
                        a.logout(href='/logout')
                    a.balance(href='/bets/balance')
                        span= user.balance
                        img(src="../img/coin.svg" class="coin")
            else
                a(href='/login')
                    p.login Войти
        div.pool
            each item in renderPage
                a(href='/bets/event/' + item.id class="event" + ' ' + item.status)
                    div.title
                        span.id= '#' + item.id
                        h3= item.event
                    div.condition
                        - var sum = item.total1 + item.total2
                        div.result1
                            .description
                                span.name= item.result1
                                span.ratio= '×' + ( (sum / item.total1) / 100 * 97.5).toFixed(2)
                            - var win1 = ( Math.round(item.total1 / sum * 100) )
                            if item.status === 'won1'
                                .chance.winner
                                    span= win1 + '%'
                            else
                                .chance
                                    span= win1 + '%'
                        div.vs
                            p.deadLine ×
                        div.result2
                            - var win2 = ( Math.round(item.total2 / sum * 100) )
                            if item.status === 'won2'
                                .chance.winner
                                    span= win2 + '%'
                            else
                                .chance
                                    span= win2 + '%'
                            .description
                                span.name= item.result2
                                span.ratio= '×' + ((sum / item.total2) / 100 * 97.5).toFixed(2)
        footer
            p= "Монет выплачено: " + stats[0].coinsPaid
            p= "Ставок сделано: " + stats[0].totalBets
            p= "Событий проведено: " + stats[0].totalEvents
